rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    match /{allPaths=**} {
      allow read: if false;
      allow create: if request.auth != null && resource == null;
      allow update: if request.auth != null && resource.metadata.seller == request.auth.uid;
    }
  }
}
